<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pushwoosh_APPID</key>
	<string>A6C3E-A0F27</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>${REGION}</string>
	<key>CFBundleDisplayName</key>
	<string>${CAPTION}</string>
	<key>CFBundleExecutable</key>
	<string>${APPNAME}</string>
	<key>CFBundleIdentifier</key>
	<string>${APPID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleIconFile</key>
	<string>Icon.png</string>${EXTRA_ICONS}
	<key>CFBundleName</key>
	<string>${APPNAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${APPVERSION}</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>MinimumOSVersion</key>
	<string>${MINIMUM_OS_VERSION}</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>DTCompiler</key>
	<string>4.2</string>
	<key>DTPlatformBuild</key>
	<string>8C134</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>4.2 Seed 2</string>
	<key>DTSDKName</key>
	<string>iphoneos4.2</string>
	<key>DTXcode</key>
	<string>0325</string>
	<key>DTXcodeBuild</key>
	<string>10M2423</string>
	<key>UIPrerenderedIcon</key>
	<${PRERENDERED}/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>${BUNDLELOCALE}</string>
	</array>${EXTRA_SETTINGS}
</dict>
</plist>
